.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.container form {
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  border: 3px solid gainsboro;
  padding: 20px;
  border-radius: 4px;
  min-height: 350px;
}

form h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
}

.inputContainer {
  border: 3px solid gainsboro;
  border-radius: 4px;
  padding: 0 10px;
  height: 55px;
  display: flex;
  flex-direction: column;
  /* margin-top: 10px; */
}

.inputContainer label {
  font-size: 16px;
  font-weight: 500;
  color: gray;
  opacity: 0.9;
}

.inputContainer input {
  outline: none;
  border: none;
  background-color: inherit;
  padding: 0 2px;
}

.container button {
  width: 95%;
  padding: 3px 8px;
  color: white;
  font-weight: 600;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-top: 30px;
  background: #3d7afe;
}

.inputContainer:has(input:focus) {
  background-color: rgb(181, 181, 234);
}

.container a {
  text-align: center;
  text-decoration: underline;
}